src/test/wadl/testapi.xml

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <resources base="http://127.0.0.1:8000/">

        <resource path="status/{code}">
            <param name="format" type="xsd:integer" style="template" required="true" default="200"/>

            <method id="status" name="GET" apigee:displayName="status">
                <apigee:tags>
                    <apigee:tag primary="true">Status</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="false"/>

                <apigee:example url="status/{code}"/>

                <doc title="status" apigee:url="">
                    Responds with the given HTTP status code.
                </doc>

                <response>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="echo">
            <method id="get_echo" name="GET" apigee:displayName="echo (GET)">
                <apigee:tags>
                    <apigee:tag primary="true">Echo</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="false"/>

                <apigee:example url="echo"/>

                <doc title="echo (GET)" apigee:url="">
                    Echoes back GET parameters.
                </doc>

                <request>
                    <param name="hello" type="xsd:string" style="query" required="true" default="world"/>

                    <param name="required_with_default_freeform" type="xsd:string" style="query" required="true" default="Default"/>
                    <param name="required_with_default_options" style="query" required="true" default="one">
                        <option value="one"/>
                        <option value="two"/>
                        <option value="three"/>
                    </param>
                    <param name="not_required_no_default" type="xsd:string" style="query" required="false"/>
                    <param name="integer_parameter" type="xsd:integer" style="query" required="false" default="123"/>
                    <param name="fixed" type="xsd:string" style="query" required="true" fixed="Immutable value"/>
                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>

            <method id="post_echo" name="POST" apigee:displayName="echo (POST)">
                <apigee:tags>
                    <apigee:tag primary="true">Echo</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="false"/>

                <apigee:example url="echo"/>

                <doc title="echo (POST)" apigee:url="">
                    Echoes back POST parameters.
                </doc>

                <request>
                    <param name="hello" type="xsd:string" style="query" required="true" default="world"/>

                    <param name="required_with_default_freeform" type="xsd:string" style="query" required="true" default="Default"/>
                    <param name="required_with_default_options" style="query" required="true" default="one">
                        <option value="one"/>
                        <option value="two"/>
                        <option value="three"/>
                    </param>
                    <param name="not_required_no_default" type="xsd:string" style="query" required="false"/>
                    <param name="integer_parameter" type="xsd:integer" style="query" required="false" default="123"/>
                    <param name="fixed" type="xsd:string" style="query" required="true" fixed="Immutable value"/>
                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
    </resources>

</application>
